*,*::after,*::before {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    margin: 0;
    padding: 0;
}


:root {
    // primary colors

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);
    
}

body {
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    
}

a:link {
    color: var(--white);
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: var(--white);
  }
  
  /* mouse over link */
  a:hover {
    color: var(--white);
  }
  
  /* selected link */
  a:active {
    color: var(--white);
  }






















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }