.header {
    height: 100vh;
    width: 100%;
    background: url("/images/layout/image-hero.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;

    &__navbar{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 8rem 0 8rem;
    }

    &__tittle{
        color: var(--white);
        font-size: 2rem;
        margin-top: 3.8rem;
    }

    &__nav {
        width: 26rem;
        margin-top: 3.8rem;
    }
    &__nav--list {
        color: var(--white);
        list-style: none;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        &-element {
            color: var(--white);
            position: relative;
            outline: none;


           &::after {
               content: '';
               position: absolute;
               width: 100%;
               height: 0.175rem;
               left: 0;
               bottom: -0.5rem;
               background-color: var(--white);
               border-radius: 10px;
           }

           &--hover {
            &::after {
               transform: scale(0, 1); 
               transition: transform 0.3s;
            }

            &:hover {
               &::after {
                   transform: scale(1, 1);
               } 
            }
           }
        }
       
    }

    &__slogan {
        margin-top: 6rem;

        &-text {
            color: var(--white);
            display: inline-block;
            margin-left: 8rem;
            text-transform: uppercase;
            font-size: 4.5rem;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: 100;
            letter-spacing: 0.5rem;
            line-height: 1;
            border: 2px solid var(--white);
            padding: 2rem 6rem 2rem 2.5rem;
        }
    }
}  

.main {
    padding: 9rem;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__section-info {
        display: flex;
        height: 85vh;
        position: relative;
        margin-bottom: 5rem;

        &--pic {
            position: absolute;
            top: 0;
            left: 0;
        }

        &--text {
            background-color: var(--white);
            height: 17rem;
            width: 30rem;
            display: flex;
            flex-direction: column;
            padding: 6rem 0 0 6rem;
            margin-top: -1rem;
            margin-right: -1rem;
            position: absolute;
            top: 9.25rem; 
            left: 37rem;
        }

        &--tittle {
            text-transform: uppercase;
            font-size: 3.5rem;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: 100;
            margin-bottom: 1rem;
            line-height: 1;
        }

        &--content {
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: var(--dark-gray);
            line-height: 2;
        }
    }


    
}